@import './transition.scss';

.padding-5 {
  padding: 5px;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-right-5 {
  padding-right: 5px;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-lr-5 {
  padding-right: 5px;
  padding-left: 5px;
}

.padding-tb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-lr-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.padding-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.layout-container {
  height: 100vh;
  top: 0;
  bottom: 0;
}

.pointer {
  cursor: pointer;
}

.lay-hover:hover {
  color: var(--primary-color);
  cursor: pointer;
}

@media (max-width: 768px) {
  .xs-hidden {
    display: none;
  }
}

/* ==================
      line边线
 ==================== */
[class*='lay-hairline']:after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0 solid #efeff5;
  /* top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%; 
    border: 0 solid #e2e5e5;
    transform: scale(0.5);
  */
}
.lay-hairline {
  &--bottom,
  &--left,
  &--right,
  &--surround,
  &--top,
  &--top-bottom {
    position: relative;
  }
}

.lay-hairline--top:after {
  border-top-width: 1px;
}

.lay-hairline--left:after {
  border-left-width: 1px;
}

.lay-hairline--right:after {
  border-right-width: 1px;
}

.lay-hairline--bottom:after {
  border-bottom-width: 1px;
}

.lay-hairline--top-bottom:after,
.lay-hairline-unset--top-bottom::after {
  border-width: 1px 0;
}

.lay-hairline--surround:after {
  border-width: 1px;
}
