@import './transition.scss';

.padding-10 {
  padding: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-lr-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.padding-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.layout-container {
  height: 100vh;
  top: 0;
  bottom: 0;
}

.pointer {
  cursor: pointer;
}

.lay-hover:hover {
  color: var(--primary-color);
  cursor: pointer;
}

@media (max-width: 768px) {
  .xs-hidden {
    display: none;
  }
}